* {
    margin: 0;
    padding: 0;
    font-family: 'Coolvetica', 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: #111;
    background-image: url(../media/images/bg2.png);
    background-size: cover;
}

button {
    background: none;
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    border-radius: 50px;
    padding: 18px 24px;
    opacity: 0.65;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

button:hover {
    background: #FFFFFF25;
    opacity: 1;
}

header {
    position: fixed;
    float: right;
    width: calc(100% - 72px);
    padding: 18px 36px;
}

header > nav {
    float: right;
    margin-top: 21px;
}

header > nav > ul {
    float: left;
    color: #FFFFFF66;
    list-style-type: none;
}

header > nav > ul > li {
    float: left;
    margin-top: 24px;
    margin-right: 44px;
}

#last-child {
    margin-top: 6px;
    margin-right: 0px;
}

nav > ul > li > a {
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.65;
}

nav > ul > li > a:hover {
    opacity: 1;
}

.contact {
    float: right;
}

.greeting {
    float: left;
}

.profile {
    float: left;
    width: 58px;
    height: 58px;
    margin-top: 10px;
    margin-right: 20px;
    box-shadow: 6px 11px 12px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    pointer-events: none;
}

h1 {
    float: left;
    color: #FFF;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: 2px;
}

h1 > span {
    margin-left: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF66;
    letter-spacing: 0px;
}

aside {
    position: fixed;
    width: 96px;
    height: 90vh;
    left: 0px;
    bottom: 0px;
}

aside > .divider {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.25) 100%);
}

aside > .social {
    position: absolute;
    top: auto;
    bottom: 0px;
    left: 0px;
    width: 96px;
    height: auto;
}

.social-icon {
    width: 48px;
    height: 48px;
    margin-left: 25px;
    margin-bottom: 24px;
    float: left;
    border: none;
    background: #FFFFFF00;
    border-radius: 100%;
    transition: all 0.15s ease-in-out;
}

.social-icon:hover {
    background: #FFFFFF44;
}

aside > .social > a svg {
    width: 24px;
    height: 24px;
    margin-top: 11px;
    margin-left: 12px;
}

.main {
    position: relative;
    overflow-x: hidden;
    float: right;
    width: calc(93% - 168px);
    height: calc(100vh - 117px);
    margin-top: 117px;
    padding: 0px 36px;
}

.content-1 {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.copy {
    float: left;
}

h2 {
    float: left;
    font-size: 48px;
    color: #FFF;
    margin-top: 4px;
    letter-spacing: 2px;
}

h2 > .available {
    display: none;
    float: right;
    padding: 5px;
    margin-top: 19px;
    margin-left: 14px;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: linear-gradient(242.72deg, #3EC300 6.76%, #7AE3D7 72.79%);
    color: #000;
}

.h2-description {
    float: left;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.7);
    width: calc(100% - 171px);
}

.contact, .portfolio:hover {
    background:#3943B7;
    border: none;
    opacity: 1;
}

.portfolio:hover, .contact:hover {
    background:#3943B7;
    box-shadow: 0px 4px 24px rgba(95, 104, 213, 0.47);
}

.about-me {
    color: #5F68D4;
    opacity: 1;
    border: none;
}

.about-me:hover {
    color: #5F68D4;
}

.content-2 {
    float: left;
    position: absolute;
    width: calc(100% - 36px);
    height: 267px;
    left: 36px;
    bottom: 18px;
}

.job-a {
    position: absolute;
    width: auto;
    height: 85%;
    left: 3%;
    top: 44px;
    filter: drop-shadow(16px 8px 12px rgba(0, 0, 0, 0.4));
    border-radius: 15px;
    transform: rotate(-2.55deg);
    transition: all 0.15s ease-in-out;
    z-index: 2;
}

.job-a:hover {
    top: 40px;
}

.job-b {
    position: absolute;
    width: auto;
    height: 73%;
    left: 40%;
    top: 127px;
    filter: drop-shadow(8px 4px 20px rgba(0, 0, 0, 0.4));
    border-radius: 15px;
    transform: rotate(4.03deg);
    transition: all 0.15s ease-in-out;
    z-index: 1;
}

.job-b:hover {
    top: 123px;
}




.mobile {
    display: none;
}

.menu-trigger {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 0px;
    display: none;
}

@media screen and (max-width: 480px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        width: 100%;
        height: auto;
    }

    aside {
        right: 0px;
        left: auto;
        width: 48px;
        height: 100%;
    }

    aside > .divider {
        left: 0px;
        right: auto;
    }
}