@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

@font-face {
    font-family: "Babel Sans";
    src: url(../media/fonts/BabelSans.woff);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Babel Sans", serif;
}

:root {
    --default: #9d35e2;
    --hover: #A052D5;
    --green: #4dd9a7;
    --bg: light-dark(#000, #FFF);
    --text: #d5d5d5;
    --bgl: #ffffff;
    --bgd: #000000;
    --input: #222222;
    --headings: 2.35rem;
    --radius: 24px;
    --gap: 24px;
    --glass: blur(16px);
    --transition: all 165ms ease;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    float: left;
    width: 100%;
    height: auto;
    font-size: 1rem;
    background-color: var(--bgd);
}

body.internal {
    padding-top: 100px;
}

img {
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

input {
    font-size: 1rem;
    color: var(--bgl);
}

dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 600px;
    max-height: 700px;
    border-radius: 20px;
    background-color: var(--bgl);
    padding: 32px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
    -webkit-backdrop-filter: var(--glass);
    backdrop-filter: var(--glass);
}

a {
    text-decoration: none;
    color: #2e8ee7;
    transition: var(--transition);
}

a:hover {
    color: #77bdff;
}

a > strong {
    color: var(--green);
}

button {
    border-radius: 10px;
    padding: 12px 24px;
    color: #FFF;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(170deg, rgba(249, 250, 255, 0.12) 0%,rgba(249, 250, 255, 0) 58%);
    cursor: pointer;
    transition: var(--transition);
    backdrop-filter: var(--glass);
}

button:hover {
    color: var(--bgd);
    background: var(--bgl);
}

button > img {
    width: 24px;
    height: 24px;
}

.gumroad:hover {
    background: #ff90e8;
    border-color: #ff90e8;
}

p {
    letter-spacing: 0.5px;
}

.pop:active { /* Faz os botões aumentarem levemente quando clicados */
    transform: scale(1.10);
}

.button-primary {
    transition: var(--transition);
    background: var(--default);
    color: var(--bgd);
    border: none;
}

.button-primary:hover {
    background: var(--hover);
    color: var(--bgd);
}

section video {
    width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
}

header {
    position: fixed;
    top: 16px;
    left: 32px;
    right: 32px;
    width: calc(100% - 64px);
    height: auto;
    background: transparent;
    padding: 20px calc(10% - 16px);
    z-index: 100;
    border-radius: 16px;
    transition: var(--transition);
    box-sizing: border-box;
    backdrop-filter: var(--glass);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #adadad40;
}

.scrolled {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 20px 10%;
    color: var(--bgd);
    border: none;
    border-radius: 0px;
    background: #000000AA;
    -webkit-backdrop-filter: var(--glass);
    backdrop-filter: var(--glass);
    box-shadow: 0px 8px 16px #00000044;
}

header > .name {
    font-family: "Rock Salt";
    font-size: 1.25rem;
    color: var(--bgl);
    opacity: 0.75;
}

header > nav {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40px;
}

header > nav > a {
    float: left;
    font-size: 1.1em;
    color: var(--bgl);
    text-decoration: none;
    transition: var(--transition);
}

header > nav > a:hover {
    color: var(--hover);
}

#menu-trigger, #menu-trigger:hover, #menu-trigger:focus {
    padding: 0px;
    width: 44px;
    height: 32px;
    border: none;
    margin-right: 8px;
    background: transparent;
}

#menu-trigger, #menu-trigger > .close {
    display: none;
}

#menu-trigger > img {
    width: 32px;
    height: 32px;
}

.hero {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 640px;
    background-color: var(--bgd);
    background-image: url(../media/images/neobanner.webp);
    background-size: cover;
    background-position: center;
    padding: 0px 10%;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--gap);
}

.hero > .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}

.hero > p {
    color: var(--bgl);
    font-size: 1.5rem;
}

h1 {
    color: var(--bgl);
    font-size: 7rem;
    text-align: left;
    letter-spacing: 1px;
    line-height: 125%;
    font-weight: 700;
}

.folio {
    gap: 8px;
}

#behance {
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

#behance > span {
    margin-top: 3px;
}

.folio h1 {
    font-size: 4rem;
}

.decoration {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

#hero-title {
    font-family: "Rock Salt";
    font-size: 5rem;
    line-height: 8rem;
    letter-spacing: 0.35rem;
    text-align: center;
    position: relative;
}

.decoration > span {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    opacity: 0.65;
    margin-left: 5px;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
    font-size: 3.25em;
    letter-spacing: 0.025em;
    color: var(--bgl);
    font-weight: 600;
}

.about-me, .more-about-me {
    position: relative;
    float: left;
    width: 80%;
    height: auto;
    padding: 128px 10%;
    padding-bottom: 0px;
    gap: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    scroll-margin-top: 100px;
}

.about-me > .left, .about-me > .right {
    width: 50%;
    float: left;
    height: auto;
}

.about-me > .left p {
    font-size: 16px;
    line-height: 26px;
    width: 90%;
    height: auto;
    color: var(--bgl);
    margin: 32px 0px;
    margin-top: 20px;
}

.about-me > .right {
    float: right;
    width: 45%;
    height: 550px;
    border-radius: 16px;
    background-color: var(--bgd);
    background-image: url(../media/images/pp2.jpg);
    background-size: cover;
    background-position: center;
}

.go-to-linkedin {
    color: var(--bgl);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.go-to-linkedin:hover {
    border-color: var(--bgl);
    box-shadow: 0px 8px 16px #0a66c244;
}

.go-to-linkedin > svg {
    float: left;
    width: 24px;
    height: 24px;
    fill: var(--bgl);
    transition: var(--transition);
}

.go-to-linkedin:hover > svg {
    fill: #0a66c2;
}

.go-to-linkedin > span {
    float: left;
    margin-left: 12px;
    margin-top: 2px;
}

.news {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.article-slot {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.article-slot > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #FFF;
    gap: 4px;
}

.article-slot > img {
    width: 128px;
    height: 64px;
}

.article-slot > div > time {
    font-size: 0.8rem;
    opacity: 0.5;
}

.article-slot > div > p {
    font-size: 1rem;
}

#search {
    width: 100%;
    height: 64px;
    padding: 8px 16px;
    padding-left: 64px;
    background: var(--input);
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
    background-image: url(../media/icons/search.svg);
    background-size: 24px;
    background-position-x: 21px;
    background-position-y: center;
    background-repeat: no-repeat;
    transition: var(--transition);
}

#search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: relative;
    right: 16px;
    height: 32px;
    width: 32px;
    border-radius: 10px;
    background-image: url(../media/icons/close.svg);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.my-cases, .mywork {
    width: 80%;
    height: auto;
    float: left;
    margin: 64px 10%;
    color: var(--text);
    scroll-margin-top: 100px;
}

.flex-section {
    width: 100%;
    height: auto;
    margin: 32px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.mywork {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mywork > p {
    font-size: 16px;
    line-height: 26px;
    width: 62%;
}

.spec {
    display: flex;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 16px;
    padding: 32px;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    flex-grow: 1;
    border-radius: 24px;
    opacity: 0;
    cursor: default;
    transition: var(--transition);
}

.spec:hover {
    transform: scale(101%) !important;
}

.spec > img {
    width: 40px;
    height: 40px;
    pointer-events: none;
}

.spec > p {
    color: inherit;
    font-size: 20px;
    font-weight: 700;
}

.spec > span {
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
}

.spec.re {
    color: #3bc9db;
    border: 2px solid #3bc9db;
    background: linear-gradient(225deg, rgba(7, 41, 47, 1) 0%,rgba(1, 10, 12, 1) 100%);
}

.spec.dg {
    color: #845ef7;
    border: 2px solid #845ef7;
    background: linear-gradient(225deg, rgba(40, 28, 75, 1) 0%,rgba(10, 7, 20, 1) 100%);
}

.spec.cd {
    color: #ffd43b;
    border: 2px solid #ffd43b;
    background: linear-gradient(225deg, rgba(56, 46, 12, 1) 0%,rgba(11, 9, 2, 1) 100%);
}

#blog-wrapper {
    width: 100%;
    height: auto;
    padding: 0px;
    gap: var(--gap);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#blog-wrapper a {
    color: var(--bgd);
}

#blog-wrapper .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    height: 365px;
    padding: 16px;
    flex: 1;
    box-sizing: border-box;
    background: #121212;
    background-size: cover;
    background-position: center;
    color: var(--bgl);
    border-radius: 24px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

#blog-wrapper .big > .card, 
#blog-wrapper .big > .card:hover {
    background: url('../media/images/me.gif');
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(3, 49, 49, 0.2);
    justify-content: flex-end;
    padding: 16px;
    gap: 8px;
}

#blog-wrapper .big > .card:hover > button {
    background: red;
    border-color: red;
    color: var(--bgl);
}

#blog-wrapper .card > img {
    width: 100%;
    height: 150px;
    border-radius: 16px;
    background-color: var(--input);
    background-position: center;
    background-size: cover;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
}

.card > .thumb {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.mentorship > p {
    font-size: 1.35rem;
}

.mentorship > .grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    align-content: stretch;
    justify-items: start;
    justify-content: stretch;
    column-gap: var(--gap);
}

.grid .card {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 24px;
    background: var(--input);
    color: var(--bgl);
    border-radius: 24px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: end;
    gap: 24px;
}

.grid .card > .title {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
}

.grid .card > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#blog-wrapper .card > .title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    color: inherit;
}

#blog-wrapper .card > .date,
#blog-wrapper .card > .snippet {
    width: 100%;
    color: inherit;
    font-size: 1rem;
    transition: var(--transition);
}

#blog-wrapper .card > .date {
    color: #979797;
}

#blog-wrapper .card:hover {
    box-shadow: 0px 8px 16px rgba(44, 44, 44, 0.199);
}

#blog-wrapper .card:hover > .snippet {
    color: var(--hover);
}

.flex-section a {
    display: flex;
}

.flex-section .case {
    position: relative;
    height: auto;
    padding: 8px;
    border-radius: 16px;
    padding-bottom: 100%;
    flex: 1;
    background-color: #222222;
    overflow: hidden;
}

.flex-section .case > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -40%;
    left: 2%;
    right: 2%;
    margin: auto;
    padding: 24px;
    background: #000;
    border-radius: 10px;
    transition: var(--transition);
}

.flex-section .case:hover > div {
    bottom: 2%;
}

.skeleton {
    background: red;
    animation: loading 2s infinite;
}

@keyframes loading {
  0% {background-color: var(--input);}
  50% {background-color: #181818}
  100% {background-color: var(--input);}
}

.vero {
    background-image: url(../media/images/projects/vero.png);
    background-size: cover;
}

.penpot {
    background-image: url(../media/images/projects/penpot.webp);
    background-position: center;
    background-size: cover;
}

.devmind {
    background-image: url(../media/images/projects/devmind.png);
    background-position: center;
    background-size: cover;
}

.globo1 {
    background-image: url(../media/images/projects/globo3.png);
    background-position: center;
    background-size: cover;
}

.globo2 {
    background-image: url(../media/images/projects/globoalt.png);
    background-size: cover;
}

.globo3 {
    background-image: url(../media/images/projects/globo.png);
    background-size: cover;
}

.picdoc {
    background-image: url(../media/images/projects/picdoc.png);
    background-size: cover;
}

.inkscape {
    background-image: url(../media/images/projects/inkscape.png);
    background-size: cover;
}

.lugod {
    background-image: url(../media/images/projects/lugod.png);
    background-size: cover;
}

.griss {
    background-image: url(../media/images/projects/grisson.png);
    background-size: cover;
}

.ilustra {
    background-image: url(../media/images/blog/purple-grid.webp);
    background-size: cover;
}

.experiments {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: 64px;
}

.flex-section .case > div > span {
    float: left;
    width: auto;
    max-width: 70%;
    font-size: 1.5em;
    color: #FFF;
}

.flex-section .case > div > svg {
    fill: #FFF;
    width: 44px;
    height: 44px;
    float: right;
}

.all-cases {
    float: left;
    width: 200px;
    height: auto;
    margin-left: calc(50% - 100px);
    color: var(--bgl);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.all-cases:hover {
    box-shadow: 0px 8px 16px #11111144;
}

.overview, .project-data, .key-learnings, .feedbacks, .tools {
    width: 80%;
    height: auto;
    padding: 48px 10%;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    color: var(--bgl);
    gap: 24px;
}

.overview > p {
    color: var(--bgl);
    font-size: 1.65rem;
    line-height: 2.5rem;
}

.project-data p, 
.project-data ul, 
.project-data li {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--bgl);
}

.project-data ul {
    padding: 8px 24px;
}

.key-learnings > ol {
    padding-left: 16px;
    font-size: 1.25rem;
    line-height: 150%;
    color: var(--bgl);
}

.feedbacks .feed {
    display: grid;
    align-items: start;
    align-content: stretch;
    justify-content: stretch;
    justify-items: start;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.feedbacks .feed > .card {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    padding: var(--gap);
    background: var(--input);
    border-radius: 16px;
}

.feedbacks .feed > .card .profile {
    position: absolute;
    right: var(--gap);
    top: var(--gap);
    z-index: 2;
}

.feed > .card .profile > img {
    width: 32px;
    height: 32px;
}

.feed > .card > .top {
    box-sizing: border-box;
    position: relative;
    padding-left: 60px;
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feed > .card > .top img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.feed > .card > .top .name {
    font-size: 1rem;
    font-weight: 600;
}

.feed > .card > .top .jobtitle {
    font-size: 0.8rem;
    opacity: 0.65;
}

.tools {
    padding: 40px 10%;
}

.tools > h6 {
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.tools > .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.article-hero {
    box-sizing: border-box;
    width: 80%;
    height: 400px;
    margin: 0px 10%;
    margin-top: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding: 48px;
    border-radius: 24px;
    background-color: #121212;
    background-image: url(../media/images/bg2.png);
    background-size: cover;
    background-position: center;
}

.article-hero > h1 {
    margin-top: 0px;
    text-align: left;
    font-size: 48px;
    color: var(--bgl);
}

.article-hero > p {
    color: var(--bgl);
    opacity: 0.65;
}

main {
    width: 80%;
    margin: 64px 10%;
    padding: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    flex-grow: 1;
}

article > h1, 
article > h2, 
article > h3, 
article > h4, 
article > h5, 
article > h6 {
    margin: var(--gap) 0px;
    font-size: var(--headings);
    line-height: 3rem;
    color: var(--hover);
    scroll-margin-top: 200px;
}

article iframe {
    width: 100%;
    height: 360px;
}

aside {
    box-sizing: border-box;
    width: 280px;
    height: auto;
    max-height: 400px;
    overflow-y: auto;
    position: sticky;
    left: 0%;
    top: 120px;
    color: var(--bgl);
    background: #121212;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    border-radius: 16px;
}

aside > .title {
    font-size: 2rem;
    font-weight: 600;
}

aside > ul {
    font-size: 1rem;
    line-height: 150%;
    list-style-type: none;
}

aside > ul > li {
    margin-bottom: 8px;
}

article li, 
article > p {
    color: var(--text);
    font-size: 1.35rem;
    line-height: 150%;
    scroll-margin-top: 200px;
}

article > p strong {
    color: var(--bgl);
}

article p > img {
    width: 100%;
    height: auto;
}

.media-block {
    text-align: center;
    font-size: 1rem;
}

article ul, article ol {
    padding-left: 36px;
    line-height: 175%;
}

article > img {
    width: 100%;
    height: auto;
}

article > iframe {
    width: 100%;
    height: 400px;
}


.mentorship, .courses, .freebies, .contents {
    box-sizing: border-box;
    width: 80%;
    height: auto;
    margin: 48px 10%;
    gap: var(--gap);
    color: #FFF;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mentorship h3,
.freebies h3, 
.contents h4 {
    width: 100%;
    color: #4dd9a7;
}

.courses h3,
.mentorship h3 {
    color: var(--default);
}

h1.catch {
    font-size: 2rem;
}

.courses > .index {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.courses > .index > .card {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: var(--gap);
    background: var(--input);
    border-radius: var(--radius);
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    overflow: hidden;
}

.index > .card > img {
    border-radius: 8px;
    width: auto;
    height: 200px;
}

.index > .card > .info {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.index > .card > .info .title {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--hover);
}

.index > .card > .info .description {
    font-size: 1rem;
    font-weight: 400;
    color: var(-text);
}

.index > .card > .info a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.pricetag {
    width: auto;
    padding: 4px 16px;
    border-radius: 8px;
    background: var(--green);
    color: var(--input);
    font-weight: 700;
    font-size: 1rem;
}

.pricetag.alert {
    background: #ffc421;
}

.pricetag.closed {
    background: #f37474;
}

#articles {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.final-cta {
    box-sizing: border-box;
    width: 80%;
    height: auto;
    margin: 48px 10%;
    padding: 36px;
    background-color: var(--default);
    background-image: url(../media/images/blog/purple-grid.webp);
    background-size: cover;
    color: #FFF;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.final-cta.home {
    height: 600px;
}

.cta-title {
    color: var(--hover);
}

.final-cta.folio > h6 {
    font-size: 2rem;
    text-align: center;
}

.final-cta > p {
    width: auto;
    padding: 0px 24px;
    font-size: 1.2rem;
}

.final-cta > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

#copy.copiado, #copy:hover.copiado {
    background-color: #62df7f !important;
    color: var(--bgd);
    border: none;
    transform: scale(1.15);
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    float: left;
    width: 80%;
    height: auto;
    padding: 32px 10%;
}

footer.visible {
    opacity: 1;
    transform: translateY(0);
}

footer > p {
    float: left;
    color: var(--bgl);
    text-align: center;
}

footer > p > a {
    transition: var(--transition);
    text-decoration: none;
    color: var(--bgl);
}

footer > p > a:hover {
    color: #0086df;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 12px;
}

.socials svg {
    fill: var(--bgl);
    width: 24px;
    height: 24px;
    transition: var(--transition);
}

.socials svg:hover {
    fill: var(--hover);
}

#mobnav > nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--gap);
}

#mobnav > nav > a {
    font-size: 1.5rem;
    color: var(--bgd);
    line-height: 110%;
}

#othercontact {
    font-size: 1.5rem;
}

#mobnav > nav > a strong {
    color: var(--default);
}

#contact-form > .title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

#contact-form > .description {
    font-size: 1.35rem;
    margin-bottom: 24px;
}

#contact-form > .col {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#contact-form > .col button {
    width: 100%;
    height: 64px;
    background: var(--bgd);
    color: var(--bgl);
    font-size: 1.35rem;
    text-align: center;
}

#contact-form > .col button:hover {
    background: var(--hover);
}

#close, #navclose {
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 4px;
    background: none;
    border: none;
    z-index: 4;
    fill: var(--bgd);
}

#navclose {
    right: 42px;
    top: 28px;
}

@media screen and (min-width: 2000px) {
    body {
        -webkit-zoom: 2;
        zoom: 2;
    }
}

@media screen and (max-width: 1440px) {
    .hero {
        background-position: center;
        background-size: cover;
    }

    #hero-title {
        text-align: left;
        font-size: 3rem;
        line-height: 4.4rem;
    }

    .mywork > p {
        width: 100%;
    }

    .flex-section .case > div > span {
        font-size: 1.16rem;
    }
}

@media screen and (max-width: 1155px) {
    body {
        font-size: 14px;
    }

    .about-me, .more-about-me {
        flex-direction: column;
    }

    .about-me > .left,
    .about-me > .right {
        width: 100%;
    }

    .about-me > .right {
        height: 300px;
    }

    .article-hero, 
    .final-cta, 
    footer {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .final-cta.home {
        width: 80%;
    }

    main {
        width: 90%;
        margin: 64px 5%;
        padding: 0px;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    aside {
        position: relative;
        top: 0px;
        width: 100%;
        height: auto;
        max-height: none;
    }

    .flex-section {
        width: 100%;
        height: auto;
        margin: 32px 0px;
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    .index > .card > .info a {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
    }

    #blog-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(auto-fill, auto);
    }
}

@media screen and (max-width: 800px) {
    header > nav {
        display: none;
    }

    #menu-trigger, .mobilenav {
        display: flex;
    }

    .mentorship > .grid {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    .courses > .index > .card {
        flex-direction: column;
    }

    .index > .card > img {
        width: 100%;
        height: auto;
    }

    .mywork > .flex-section {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
}

@media screen and (max-width: 640px) {
    .hero {
        background-image: url(../media/images/neobanner-vert.webp);
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 2rem;
    }
    
    header, .scrolled {
        width: 100vw;
        top: 0px;
        left: 0px;
        right: 0px;
        border-radius: 0px;
        padding: 20px calc(10% - 16px);
        background: #000000AA;
        border-bottom: 1px solid #ebebeb40;
        box-shadow: none;
    }

    dialog {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        border: none;
        border-radius: 0px;
    }

    #hero-title {
        font-size: 2rem;
        line-height: 150%;
    }

    .article-hero,
    .courses,
    .mentorship, 
    .final-cta, 
    .final-cta.home,
    .mywork,
    .contents, .my-cases, .about-me,
    footer {
        width: 95%;
        margin: 36px 2.5%;
        box-sizing: border-box;
    }

    .about-me {
        padding: 0px;
    }

    .article-hero {
        width: 100%;
        height: 75vh;
        margin: 24px 0px;
        border-radius: 0px;
        justify-content: flex-end;
        gap: var(--gap);
    }

    .article-hero > h1 {
        font-size: 2.25rem;
        line-height: 125%;
    }

    .feedbacks .feed {
        display: flex;
        flex-direction: column;
    }

    .final-cta {
        height: auto;
        padding: 44px 24px;
    }

    .final-cta > h4 {
        text-align: center;
    }

    .final-cta > h4, 
    .final-cta > p {
        width: 100%;
        padding: 0px;
    }

    footer, 
    #blog-wrapper {
        display: flex;
        flex-direction: column;
    }

    footer {
        gap: var(--gap);
        justify-content: center;
    }

    footer .socials {
        justify-content: center;
    }

    .socials svg {
        width: 32px;
        height: 32px;
    }
}

/* //////////////////////////////// */
/* ////////// ANIMATIONS ////////// */
/* //////////////////////////////// */

.slide-in-blurred-bottom{-webkit-animation:slide-in-blurred-bottom .6s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-bottom .6s cubic-bezier(.23,1.000,.32,1.000) both}
@-webkit-keyframes slide-in-blurred-bottom{0%{-webkit-transform:translateY(1000px) scaleY(2.5) scaleX(.2);transform:translateY(1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-bottom{0%{-webkit-transform:translateY(1000px) scaleY(2.5) scaleX(.2);transform:translateY(1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.slide-in-elliptic-top-fwd{-webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-elliptic-top-fwd .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}@keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}

.slide-in-bck-center{-webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) reverse both;animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) reverse both}
@-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

.slit-in-horizontal{opacity:1;-webkit-animation:slit-in-horizontal .7s ease-out both;animation:slit-in-horizontal .35s ease-out both}
@-webkit-keyframes slit-in-horizontal{0%{-webkit-transform:translateZ(-800px) rotateX(90deg);transform:translateZ(-800px) rotateX(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateX(87deg);transform:translateZ(-160px) rotateX(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0)}}@keyframes slit-in-horizontal{0%{-webkit-transform:translateZ(-800px) rotateX(90deg);transform:translateZ(-800px) rotateX(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateX(87deg);transform:translateZ(-160px) rotateX(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0)}}

.puff-in-hor{-webkit-animation:puff-in-hor .4s cubic-bezier(.47,0.000,.745,.715) both;animation:puff-in-hor .7s cubic-bezier(.47,0.000,.745,.715) both}
@-webkit-keyframes puff-in-hor{0%{-webkit-transform:scaleX(2);transform:scaleX(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-hor{0%{-webkit-transform:scaleX(2);transform:scaleX(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}